# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environments
venv/
env/

# Django database
*.sqlite3

# Environment variables
.env

# IDE files
.vscode/
.idea/

# Node modules
node_modules/

# Logs
*.log